body {
    font-family: cursive, Helvetica, sans-serif;
}
/*
 * Menu
 */
#header {
    background-color: #660551;
    text-align: left important!;
}

.menu {
    padding: 20px;
 
}

nav > a {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 20px;
    padding-bottom: 21px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-shadow: 1px 1px 3px rgba(7, 1, 1, 0.76);
}

/* 
 *Hover Actions 
 */
nav a:hover {
    background-color: whitesmoke;
    color: #660551;
}

/*
 * Slider Area
 */

.mySlider {
     text-align: center;
     margin-bottom: 12px;
     margin-top: 0;
     height: 600px;
     width: auto;
     background-image: 
        linear-gradient(rgba(5, 5, 5, 0.64), rgba(5, 5, 5, 0.64)),
        url("https://images5.alphacoders.com/695/695933.jpg");
     background-size: cover;
     background-position: center;
}

h1 {
    color: white;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
    text-align: center;
    font-size: 4em;
}

#intro {
    position: relative;
        left: 10px;
        top: 100px;
}
#intro p {
    text-align: center;
    font-size: 2em;
    margin-bottom: 45px;
    color: #fff;
    text-shadow: 0 0 3px greenyellow;
}

/*
 * Slider button
 */

#intro > a {
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    background-color: #660551;
    color: #fff;
}

#intro .button:hover {
    color: #660551;
    background-color: #ecb9d8;
    text-shadow: 1px 1px 4px rgba(7, 1, 1, 0.76);
}

hr {
    border: 3px solid #660551;
    border-radius: 2px;
}

/*
 * Footer
 */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}

/*
 * Content
 */
.subheading {
    text-align: center;
    margin-bottom: 0;
    margin-top: 25px;
}

.flex-container {
    display: flex;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
}
    h3 {
        text-align: center;
    }
    p {
        text-align: justify;
    }

img {
    width: 100%
}

/* 
 * Contact Us section
 */
.form-container {
    display: flex;
    width: 100%;
}

.form-container > div {
    margin: 10px;
    width:100%;
    padding:20px;
}
 input[type=text], input[type=email], textarea {
     width:100%;
     padding:12px;
     margin-top: 6px;
     margin-bottom: 16px;
     border:1px solid #c9c9c9;
     border-radius: 3px;
     box-sizing: border-box;
 }

 input[type=submit] {
     background-color: #660551;
     color: white;
     padding: 11px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }

 input[type=submit]:hover {
     background-color: #f37ad9;
     color:black;
 }

 .myform {
     border-radius: 6px;
     background-color: gray;
     padding: 20px;
 }

 .contact {
     font-size: 3em;
 }
/* 
 * Media Query for Screen size 480px
 */ 

@media screen and (max-width: 480px) {
    .flex-container {
        display: block;
    }

    .form-container {
        display: block;
    }
}